<!DOCTYPE html>
<html>
    <head>
        <title>Time from</title>
    </head>
    
<body>

<h1>
    It's been:
</h1>

<script language="JavaScript">
    TargetDate = "07/28/2016 01:12";
    CountActive = true;
    CountStepper = 1;
    LeadingZero = true;
    DisplayFormat = "%%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds.";
</script>
<script language="JavaScript" src="//scripts.hashemian.com/js/countdown.js"></script>

</body>
</html>

