Body {
    margin: 0 auto;
    max-width: 50em;
    text-align: center;
    font-size: 2em;
    color : #555;
}

Time {
    margin: 0 auto;
    max-width: 50em;
    text-align: center;
    font-size: 2em;
    color : #555;
    
}